.result-section {
	background-color:#eee;
}
.section1-header {
	height: 58px;
	width: 100%;
	background-color: black;
	padding-top: 0px;
	color:white;
	padding-bottom:20px;
}
.col-sm-2{
	font-weight: bold;
	font-size: 16px;
}
.heading {
	padding-left: 20px
}

.top {
	padding-top: 20px;
}

body {
	padding-top: 0px;
}


}
